
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .br{
        border:black 1px solid;
    }
    .container{
        min-width:100%;
    }
    .content{
        margin-top:0;
        min-height:100vh;
    }
</style>
<div class="content">
    <div class="row justify-content-between">
        <div class="col-3 br" >
          One of two columns
        </div>
        <div class="col-9 br">
          One of two columns
        </div>
      </div>
</div>

